<html>
    {% load static %}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% if title %}{{ title }} - {% endif %}Node manager</title>

        <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'core/css/main.css' %}" rel="stylesheet">
    </head>

    <body class="bg-light">
        <div class="container">
            {% if title %}
                <h1>{{ title }}</h1>
            {% endif %}

            {% block container %}{% endblock %}
        </div>


        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script>
            $(function() {
                $('form input[type=text]').first().focus();
            });
        </script>
    </body>
</html>